@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material%20Icons&display=swap");

@import "perspective-viewer-pro.css";
@import "perspective-viewer-pro-dark.css";
@import "perspective-viewer-monokai.css";
@import "perspective-viewer-vaporwave.css";
@import "perspective-viewer-solarized.css";
@import "perspective-viewer-solarized-dark.css";
@import "perspective-viewer-gruvbox.css";
@import "perspective-viewer-gruvbox-dark.css";

html {
  font-family: "Roboto Mono";
}

perspective-workspace {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
}

.title-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
}

.title {
  font-size: 18px;
  font-weight: bold;
}
.save-button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
